body{
    background-color: gainsboro;
}
h1{
   /* color: #ff4081;
    text-decoration-line: line-through;*/
    font-family: 'Pacifico',cursive;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #4dd0e1, 0 0 30px #4dd0e1, 0 0 40px #4dd0e1, 0 0 55px #4dd0e1, 0 0 75px #4dd0e1;
}

.box{
    background-color: deeppink;
    width: 200px;
    height: 200px;
    position: relative;
    top: 200px;
    animation-name: myanimation;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /*animation-direction: alternate;*/
    animation-fill-mode: forwards;
}
@keyframes myanimation {
    0% {background-color:#880e4f; border-radius: 0 0 0 0;}
    25% {background-color:#c2185b; border-radius: 50% 0 0 0;}
    50% {background-color:#ec407a; border-radius: 50% 50% 0 0;}
    75% {background-color:#f48fb1; border-radius: 50% 50% 50% 0; }
    100% {background-color:#f8bbd0; border-radius: 50% 50% 50% 50%;}
    
    
}
.triangle{
    width: 0;
    height: 0;
    border:solid 200px;
    border-color: transparent transparent deeppink transparent;
    top: 200px;
}
.rectangle{
    width: 250px;
    height: 100px;
    background-color: #c6ff00;
    top: 200px;
}
.star{
    margin-top:100px;
	width:0;
	height:0;
	border-left: 80px  solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 160px solid green;
	position: relative;
}
.star:after{
	width:0;
	height:0;
	border-left: solid 80px transparent ;
	border-right: solid 80px transparent;
	border-top: solid 160px green  ;
	position:absolute;
	content:"";	
	top: 45px;
	left: -80px;
}

